p {
	word-spacing: 1em;
	text-align: right;
	font-size: 12pt;
	font-family: arial;
}

.sign_in {
	text-color: white;
	text-align: right;
	font-style: bold;
}

button.signin {
	text-color: white;
	font-style: bold;
	height: 25px;
	width: 100px;
	border-color: transparent;
	background-color: #66CCFF;
	padding: 2px;
}

.btn {
	text-align: center;
}

button.searchBtn {
	height: 50px;
	width: 200px;
	font-size: 16pt;
}

button#luckyBtn {
	height: 50px;
	width: 200px;
	font-size: 16pt;
}

form.omni {
	text-align: center;
}

input.omnibox {
	height: 25px;
	width: 500px;
	border: 1px solid grey;
}

img#gimage {
	display: block;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
}
