.font {
	font-family: arial;
}

.srch {
	display: inline-block;
}

button.search {
	height: 25px;
	width: 100px;
	padding: 2px;
}

.sign_in {
	text-align: right;
	display: inline-block;
}

button.signin {
	color: white;
	font-style: bold;
	height: 25px;
	width: 100px;
	border-color: transparent;
	background-color: #66CCFF;
	padding: 2px;
}

form.omni {
	text-align: center;
	display: inline-block;
}

input.omnibox {
	height: 25px;
	width: 500px;
	border: 1px solid gray;
}

img#gimage {
	display: inline-block;
	height: 30px;
}

p {
	margin-left: 10%;
	margin-right: 30%;
}

a {
	text-decoration: none;
}

span {
	display: inline-block;
	margin: 10px;
}

.stats {
	font-size: 12px;
	color: gray;
}

.title {
	color: blue;
	font-size: 20px;
	text-decoration: none:
}

.link {
	color: green;
	font-size: 14px;
}

.content {
}
